body{
	background-image: url(../img/index_3/登录.png);
	background-repeat: no-repeat;
}
span{
	color: #ff3600;
}
.rua{
	width: 1370px;
	height: 1400px;
	margin: auto;
	margin-top: -10px;
}
header{
	width: 1314px;
	position: relative;
	left: 34px;
}
.A1{
	width: 874px;
	height:729px;
	border: 2px solid black;
	border-radius: 15px;
	margin: auto;
	margin-top: 50px;
}
.A1_1{
	width: 515px;
	height: 600px;
	margin: auto;
	margin-top: 70px;
}
.a1{
	width: 483px;
	font-size: 30px;	
	text-align: center;
	font-weight: bold;
	color: #fd871d;
	font-family: "微软雅黑";
}
.a2{
	font-size: 20px;
	font-family: 黑体; 	
}
.a2>div>input{
	border-radius: 15px;
	font-size: 20px;
}
.a2>div{
	margin-top:20px;
}
.a2>div:first-child{
	margin-top: 70px;
}
.a3{
	width: 135px;
	height: 45px;
	border: 1px solid red;
	border-radius: 10px;
	margin-top:0px;	
	float: left;
	margin-top: 16px;
	margin-left: 20px;
}
.a4{
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
.a5{
	width: 187px;
	height: 49px;
	margin: auto;
	margin-top:160px;
	border-radius: 10px;
	background-color: #fd871d;
	font-size:30px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: white;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}
.a6{
	float: left;
	width: 250px;
	border: 1px solid black;
	margin-left: 100px;
	margin-top: 30px;
	font-family: "微软雅黑";
}
